{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>Document</title>
  </head>
  <body style="padding: 10px">

    <div class="background">
      <!-- top  -->
    <div class="top">
      <div class="title">{{answerSheet.test.name}}</div>
      <div class="timming"><a style="margin: 20px; margin-left: auto; float: right" href="/logout"
      >logout</a>
    <div id="time"></div></div>

    </div>
    
    
    
    <form id="form" action="/submit" method="post">
      {% csrf_token%} {% for x in questions %}
      <div class="container middle">
        <p class="question">{{forloop.counter}} . {{x.name}}</p>

        <ul class="choices">
          <li>
            <label>
              {%if x.default == 'choice1' %}
              <input type="radio" name="{{x.id}}" value="choice1" checked />
              {%else%}
              <input type="radio" name="{{x.id}}" value="choice1" />
              {%endif%}
              <span>{{x.choice1}}</span></label
            >
          </li>
          <li>
            <label>
              {%if x.default == 'choice2' %}
              <input type="radio" name="{{x.id}}" value="choice2" checked />
              {%else%}
              <input type="radio" name="{{x.id}}" value="choice2" />
              {%endif%}

              <span>{{x.choice2}}</span></label
            >
          </li>
          <li>
            <label>
              {%if x.default == 'choice3'%}
              <input type="radio" name="{{x.id}}" value="choice3" checked />
              {%else%}
              <input type="radio" name="{{x.id}}" value="choice3" />
              {%endif%}

              <span>{{x.choice3}}</span></label
            >
          </li>
          <li>
            <label>
              {%if x.default == 'choice4' %}
              <input type="radio" name="{{x.id}}" value="choice4" checked />
              {%else%}
              <input type="radio" name="{{x.id}}" value="choice4" />
              {%endif%}
              <span>{{x.choice4}}</span></label
            >
          </li>
        </ul>
      </div>
      {%endfor%}

      <div class="btn-container bottom">
        {% if start %}
        <input
          type="submit"
          name="prev"
          value="prev"
          id="prev"
          disabled="{{start}}"
        />
        {%else%}
        <input type="submit" name="prev" value="prev" id="prev" />
        {%endif%}
        <div>Page : {{page}}/{{totalPage}}</div>

        {%if end %}
        <input type="submit" name="submit" value="submit" id="submit" />
        {% else%}
        <input type="submit" name="next" value="next" id="next" />
        {%endif%}
      </div>
    </form>
    <script src="{%static 'js/index.js'%}"></script>
    <script>
      function secondsToHms(d) {
        d = Number(d);
        var h = Math.floor(d / 3600);
        var m = Math.floor((d % 3600) / 60);
        var s = Math.floor((d % 3600) % 60);

        var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : "";
        var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : "";
        var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
        let displaystr = hDisplay + mDisplay + sDisplay;
        if (!displaystr) {
          let form =document.getElementById('form')
          let btn=form.submit || form.next
          btn.click()
          return "Timeout"};
        return displaystr + " Remaining";
      }
      let startTime = new Date("{{answerSheet.startedAt|escapejs}}");
      let duration = "{{answerSheet.duration}}";
      let endTime = new Date(startTime.getTime() + duration * 60 * 1000);
      if (duration !=0)
        setInterval(() => {
          let time = document.getElementById("time");
          time.innerHTML = secondsToHms((endTime - new Date()) / 1000);
        }, 1000);

      console.log(
        duration,
        startTime,
        endTime,
        "{{answerSheet.startedAt|escapejs }}"
      );
    </script>
    </div>
    
  </body>
</html>
